*{
    font-family: 'Open Sans', sans-serif;
}

.b-shadow{
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.btn-yellow{
    background-color: #e89622;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-yellow:hover{
    background-color: #cb7a0a;
    color: #cecece;
}

.banner{
    background: url("http://google.pluralmktdigital.com.br/assets/images/banner-maratona.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-gray{
    background-color:  #f1f1f1;
}

.bg-green{
    background: linear-gradient(to right,#009933,rgba(0,0,0,0));
    padding: 4%;
}

.bg-full-green{
    background-color: #009933;
}

.h2-title{
    font-size: 2.5em;
    font-weight: bold;
    color: #009933;
}

.products-title{
    font-size: 1.8em;
    font-weight: bold;
    color: #009933; 
}

.hr{
    padding-top: 2%;
    border-top: 1px solid #cecece;
}

.p-text-dgray{
    color: #232323;
}

.carousel-select{
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-select li{
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px; 
    height: 15px; 
    background: #1E824C; 
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-select li::before{
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 20px;
    content: "";
}

.carousel-select li::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-select .active{
    background-color: #009933;
    width: 20px;
    height: 20px;
}

.pad-slider-serv{
    padding: 3% 12%;
}

.plr-product-info li {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
}

.products{
    float: left;
}

.product-price{
    font-size: 1.3em;
}

.product-price span{
    font-size: 1.4em;
    font-weight: 600;
}

.product-price strong{
    font-size: 1.8em;
    color: #009933;
    font-weight: bold;
}

.img-responsive{
    max-width: 100%;
}

.cli-carousel{
    padding-top: 50px;
}

.cli-carousel-item{
    padding: 0 20px;
    text-align: center;
    position: relative;
}

.cli-carousel-item-container{
    width: 100%;
    padding-top: 90px;
}

figure{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.cli-carousel-item-img img{
    position:absolute;
    display:block;
    top:0;
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
    border-radius:100%;
    border:5px solid #0e9c56;
    width:100%;
    max-width:180px;
    min-height:180px;
    max-height:180px;
}

.cli-carousel-item-img::before {
    content: "";
    width: 65px;
    height: 50px;
    display: block;
    background-image: url(http://google.pluralmktdigital.com.br/assets/images/aspas-1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 10%;
    top: 27.5%;
}

.cli-carousel-item-img::after {
    content: "";
    width: 65px;
    height: 50px;
    display: block;
    background-image: url(http://google.pluralmktdigital.com.br/assets/images/aspas-2.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
    top: 27.5%;
}

.cli-carousel-item-caption{
    background:#FFF;
    padding:110px 30px 30px;
    border-radius:5px;
    min-height:325px;
}

.cli-carousel-item-name{
    font-size:18px;
    font-weight:700;
    font-style:normal;
    text-transform:uppercase;
    color:#009739;
    margin:0;
}