*{
	font-family: 'Open Sans', sans-serif;
}

.b-shadow{
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.btn-yellow{
	background-color: #e89622;
}

.btn-yellow:hover{
	background-color: #cb7a0a;
}

.banner{
	background: url("http://google.pluralmktdigital.com.br/assets/images/banner-maratona.jpg");
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}